<div class="flex items-center justify-center gap-2.5 max-sm:flex-col max-sm:gap-1.5">
  <a href="/"><img src="/bear-steps-logo.png" alt="Bear Steps Logo" class="h-40"></a>
  <h1 class="text-5xl font-extrabold m-0">
    {% if header_context == "page" %}
    {{ page.extra.page_title | default(value=page.title) }}
    {% elif header_context == "section" %}
    {{ page.extra.section_title | default(value=section.title) }}
    {% elif header_context == "index" %}
    {{ section.extra.page_title | default(value=section.title) }}
    {% endif %}
  </h1>
</div>

<nav class=" mt-8 mb-8 py-4">

  <button id="nav-toggle" class="md:hidden block mx-auto p-4 pb-8 cursor-pointer bg-transparent"
    aria-label="Toggle navigation">
    <span id="hamburger"></span>
  </button>

  <ul id="nav-links"
    class="hidden md:flex flex-col md:flex-row justify-center items-center gap-2 md:gap-8 list-none border-gray-200 border-t-1 md:border-none p-0 pt-2 m-0">
    <li class="pb-0 w-full md:w-auto">
      <a href="/" class="nav-link {% if current_path == '/' %}bg-gray-200 text-gray-900{% endif %}">Home</a>
    </li>
    <li class="pb-0 w-full md:w-auto">
      <a href="/resources/"
        class="nav-link {% if current_path is containing('/resources') %}bg-gray-200 text-gray-900{% endif %}">Resources</a>
    </li>
    <li class="pb-0 w-full md:w-auto">
      <a href="/about/"
        class="nav-link {% if current_path is containing('/about') %}bg-gray-200 text-gray-900{% endif %}">About</a>
    </li>
    <li class="pb-0 w-full md:w-auto">
      <a href="/testimonials/"
        class="nav-link {% if current_path is containing('/testimonials') %}bg-gray-200 text-gray-900{% endif %}">Testimonials</a>
    </li>
  </ul>
</nav>