name: Deploy to GitHub Pages

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Install dependencies
        run: npm install

      - name: Build Tailwind CSS
        run: npm run css:build

      - name: Build and Deploy with Zola
        uses: shalzz/zola-deploy-action@v0.22.0
        env:
          PAGES_BRANCH: gh-pages
          TOKEN: ${{ secrets.TOKEN }}
